---
import '../../styles/about/abouthero.css'
import Team1 from '../assets/doctor.webp'
---

<section class="ahero">
    <h1>Conozca a los Pilares de Su Proceso de<span style="color: #16c6ce;"> Sanación </span></h1>

    <p>Somos más que una clínica; somos una familia comprometida con su bienestar integral. Nuestro equipo multidisciplinario reúne una vasta experiencia en tratamiento médico, apoyo psicológico y una gestión administrativa impecable, todos unidos por un único objetivo: acompañarlo con integridad y empatía a lo largo de su proceso oncológico.</p>
</section>

<section class="ateam">
    <div class="atgrid">
        <div class="presentation-card" style="background-image: url('https://raw.githubusercontent.com/AntonioHerrera1994/holistic-landing/refs/heads/main/src/assets/doctor.webp')">
            <div class="content">
              <h2 class="name">Director Médico y Especialista en Oncología Holísticat<br><span style="font-size:17px;">Dr. Jose A. Henriquez</span></h2>
              <p class="description">El Dr. José A. Henríquez cuenta con reconocimiento internacional por su larga trayectoria en el uso de terapias metabólicas para el tratamiento del cáncer y otras enfermedades. Es un referente en el campo de la Hipertermia Corporal Total.</p>
            </div>
          </div>
          <div class="presentation-card" style="background-image: url('https://github.com/AntonioHerrera1994/holistic-landing/blob/main/src/assets/equipo2.png?raw=true')">
            <div class="content">
              <h2 class="name">Nutrióloga<br><span style="font-size:17px;">RDN. Melissa Rivera</span></h2>
              <p class="description">Está certificada en Nutrigenómica por el Instituto de Nutrigenómica de España. Además, cuenta con una certificación en Nutrición Aplicada a la Inmunología, avalada por el Colegio Mexicano de Nutriólogos.</p>
            </div>
          </div>
          <div class="presentation-card" style="background-image: url('https://github.com/AntonioHerrera1994/holistic-landing/blob/main/src/assets/gloria.png?raw=true')">
            <div class="content">
              <h2 class="name">Asesora de Tratamientos<br><span style="font-size:17px;">LCC. Gloría Alejo</span></h2>
              <p class="description">Cuenta con una larga trayectoria en el campo de la salud y con numerosos recursos médicos para ayudar a nuestros pacientes. Se distingue por ser una profesional de gran integridad.</p>
            </div>
          </div>

               <div class="presentation-card" style="background-image: url('https://github.com/AntonioHerrera1994/holistic-landing/blob/main/src/assets/equipo1.png?raw=true')">
            <div class="content">
              <h2 class="name">Odontología Holística<br><span style="font-size:17px;">Dr. Gisselle Heredia</span></h2>
              <p class="description">Esta práctica de odontología holística fusiona la odontología moderna con métodos naturales y biocompatibles. El enfoque principal es la conexión boca-cuerpo, utilizando tratamientos mínimamente invasivos y libres de tóxicos para promover una sonrisa saludable y el bienestar integral. </p>
            </div>
          </div>
    </div>
</section>