---
import '../../styles/contador.css'
---

<section class="contadorgrid">
    <div class="counter-container">
        <h3 class="counter-title">Tratamientos:</h3>
        <div class="counter" data-target="6">0</div>
    </div>

    <div class="counter-container">
        <h3 class="counter-title">Vidas Transformadas:</h3>
        <div class="counter con-signo" data-target="100">0</div>
    </div>

    <div class="counter-container">
        <h3 class="counter-title">Años de Experiencia:</h3>
        <div class="counter con-signo" data-target="20">0</div>
    </div>
</section>


<script>
    import "../../scripts/contador.js"
</script>