---
import '../../styles/services-styles/contactanos.css'
---

<section class="contactanos">
    <div class="contactanos-cont">
        <div class="contactanos-grid">

            <div class="contacto-izq">
               
                <h1>Déjenos sus  <span style="color: #16c6ce;">datos</span> y nos <br>pondremos en <span style="color: #16c6ce;">contacto</span> a la brevedad</h1>
                <div class="img-contactanos">

                </div>
              
            </div>

         <div>
                <div class="hub-form">


<form name="contact" method="POST" data-netlify="true" id="contactForm">
  <input type="hidden" name="form-name" value="contact" />
    <!-- Mensaje de éxito (oculto inicialmente) -->
  <div class="success-message" id="successMessage" style="display: none;">
    <h3>¡Gracias por contactarnos!</h3>
    <p>Hemos recibido tu mensaje y te responderemos pronto.</p>
  </div>
  <div id="formFields">
  <p>
    <label>Nombre <input type="text" name="name" required /></label>
  </p>
  
  <p>
    <label>Email <input type="email" name="email" required /></label>
  </p>
  
  <p>
    <label>Teléfono <input type="tel" name="phone" /></label>
  </p>
  
  <p>
    <label>Mensaje <textarea name="message" required></textarea></label>
  </p>
    <p>
    <button type="submit">Enviar</button>
  </p>
  </div>

</form>
                    </div>
            </div>
        </div>

        <div class="datossss">
        <div class="grid-datos ">

            <div class="container">
                <span class="background-text">01</span>
                <span class="foreground-text"><a href="tel:+526647549475">+52-664-754-9475</a></span>
              </div>

              <div class="container">
                <span class="background-text">02</span>
                <span class="foreground-text">Rosarito <br>Baja California,<br> México
                </span>
              </div>

              <div class="container">
                <span class="background-text">03</span>
                <span class="foreground-text"><a href="tel:holisticancertreatment@gmail.com">holisticancertreatment@gmail.com</a></span>
              </div>
      

        </div>
</div>
    </div>
</section>

<script>
import '../../scripts/formulario'
</script>