---
import '../../styles/about/eligenos.css'
---

<section class="eligenos">
    <div class="eltxt">
            <h2>El Valor Fundamental de la <span style="color: #16c6ce;">Atención Holística </span> Integral</h2>
    </div>

    <div class="elgrid">

        <div class="elcaja1">
            <h3> El Tratamiento de la Persona <br>como un Todo</h3>
            <p>A diferencia de los enfoques convencionales, que a menudo se centran únicamente en la enfermedad, el tratamiento holístico aborda al paciente de forma integral.</p>
        </div>
        <div class="elcaja1">
            <h3> Optimización de Resultados y Reducción de Efectos Secundarios</h3>
            <p>Las terapias holísticas están diseñadas para trabajar en armonía con sus tratamientos médicos principales, no en su contra.</p>
        </div>
        <div class="elcaja1">
            <h3> Fortalecimiento de la Salud y <br>Resiliencia a Futuro</h3>
            <p>El cuidado holístico integrado lo empodera con los conocimientos y las herramientas necesarias para un bienestar a largo plazo, incluso después de haber concluido la fase activa de su tratamiento.</p>
        </div>
    </div>
</section>