---
import '../../styles/footer.css'
import ImageLogo from '../../assets/holistic-logo.png';
---

<section class="footer">
    <div class="footer-grid">
        
        <div class="footergrid1">
            <div class="footer-logo">
                <img 
                src={ImageLogo.src}
                width="47%"
                height="50%"
                alt="favlash-logo"/>
              </div>
              <p>Descubra un enfoque integral y humano para el cuidado del cáncer que combina tratamientos convencionales con terapias alternativas. </p>
        </div>
        <div class="footergrid2">
            <h3>Contacto</h3>
            <ul>
                <!-- <li><i class="bi bi-geo-alt-fill"></i>algun lugar de Tijuana, B.C. , Tijuana, Mexico</li>-->
                <li><i class="bi bi-telephone-inbound-fill"></i><a href="tel:+526641942723" style="text-decoration: none;color:black">(664) 194-2723</a></li>
                <li style="text-transform: none;"><i class="bi bi-envelope-paper-heart-fill"></i><a href="mailto:holisticancertreatment@gmail.com" style="text-decoration: none;color:black">holisticancertreatment@gmail.com</a></li>
            </ul>
        </div>

        <div class="footergrid3">
         

            <h3>Síguenos</h3>
            <ul>
                <li><a href="https://www.facebook.com/HolisticCancerTreatmentsCoachTijuana" target="_blank"><i class="bi bi-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/holisticcancertreatmentscoach/" target="_blank"><i class="bi bi-instagram"></i></a></li>
                <li><a href="https://wa.link/nai5wo" target="_blank"><i class="bi bi-whatsapp"></i></a></li>
            </ul>
        </div>
        <div class="footergrid4">
            <h3>Privacidad</h3>
            <ul>
                <li>Ploítica de Privacidad</li>
                <li>Términos y Condiciones</li>
            </ul>
        </div>

        
    </div>

</section>