---
import '../../styles/hero.css'
import HeroImage from '../assets/dr-hero.png'
import Contador from '../espanol/ContadorEsp.astro'
---

<section class="hero">
    <div class="hero-grid">
        <div class="hg1">
            <h1>Atención Oncológica <br>Integral y Holística</h1>
            <p>Conozca un método completo y compasivo para la atención oncológica que integra medicina tradicional y terapias alternativas. Nuestro equipo de especialistas le brindará un plan de tratamiento personalizado, enfocado en su bienestar general con soporte ininterrumpido. </p>
           <!-- From Uiverse.io by KINGFRESS --> 
<!-- From Uiverse.io by cssbuttons-io --> 
 <a href="/about-us">
<button class="learn-more">
    <span class="circle" aria-hidden="true">
    <span class="icon arrow"></span>
    </span>
    <span class="button-text" style="color:white">Conocer Más</span>
  </button>
  </a>
        </div>
        <!-- 
        <div class="hg2">
            <img 
            src={HeroImage.src}
            width="600"
            height="600"
            alt="favlash-logo"/>
        </div>-->
    </div>
</section>


<section class="bajo">
<div class="numbers">
    
        <h2>Transformando Vidas: Casos de Éxito de Nuestros Pacientes</h2>
      
            <div class="n1">
                <Contador />
            </div>
      

        </div>
        </section>