---
import '../../styles/about/historia.css'
import HospitalH from '../assets/grupo.jpeg'
---

<section class="historia">

    <div class="hist-grid">
        <div class="his1">
        <iframe width="560" height="550" src="https://www.youtube.com/embed/hFV4AbnKdzU?si=yUes9t5wwQK7FD35" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
         
        </div>

      
        <div class="hist2">
            <h2>Innovación y <span style="color: #16c6ce;">Sanación Holística: </span> Nuestra Historia</h2>
            <p>Fundado en 2008 por un equipo visionario de profesionales médicos, Holistic Cancer Treatments Coach nació con una misión única: ofrecer un enfoque compasivo e integral para el cuidado del cáncer que trascendiera los métodos convencionales. Conscientes de la necesidad fundamental de tratamientos integrales que abordaran a la persona como un todo —mente, cuerpo y espíritu—, nuestros fundadores fueron pioneros en desarrollar un modelo único de oncología holística aquí mismo en Tijuana, Baja California.</p>
           
            <p>Hoy, nos enorgullece ser un centro líder en el tratamiento holístico del cáncer, innovando continuamente y expandiendo nuestro alcance, mientras mantenemos los principios fundacionales de empatía, pericia y sanación personalizada que han definido nuestra trayectoria desde el inicio. Nuestro compromiso es continuar con este legado, guiando a más pacientes hacia una salud y vitalidad renovadas.</p>
            
              <!-- From Uiverse.io by KINGFRESS --> 
<!-- From Uiverse.io by cssbuttons-io --> 
<button class="learn-more">
    <span class="circle" aria-hidden="true">
    <span class="icon arrow"></span>
    </span>
    <a href="https://wa.link/nai5wo" target="_blank">
    <span class="button-text">Agenda <br>una cita</span>
    </a>
  </button>

       <div class="movil">
          <iframe width="560" height="550" src="https://www.youtube.com/embed/hFV4AbnKdzU?si=yUes9t5wwQK7FD35" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
         
        </div>
        </div>
    </div>
</section>