---
import '../../styles/posibilidades.css'
import Circulo from '../../components/Circulo.astro'
---

<section class="posib">
    <div class="posib-grid">
       <div class="ps1">
        <h2>Fortalezca Su Sanación:<br>El Poder de un Enfoque<span style="color: #16c6ce;">Holístico </span> y Complementario</h2>
        <p>En Holistic Cancer Treatment, creemos en un enfoque integral para el cuidado del cáncer que va más allá de los tratamientos convencionales. Nuestras terapias alternativas y holísticas están diseñadas para trabajar en sinergia con su plan de tratamiento médico principal, ofreciendo un poderoso acompañamiento que atiende su bienestar integral: mente, cuerpo y espíritu.</p>
                              <!-- From Uiverse.io by KINGFRESS --> 
<!-- From Uiverse.io by cssbuttons-io --> 
<button class="learn-more">
    <span class="circle" aria-hidden="true">
    <span class="icon arrow"></span>
    </span>
    <a href="/contact-us">
    <span class="button-text">Contáctanos</span>
    </a>
  </button>
    </div> 
    <div class="ps2">
        <Circulo />
    </div>
    </div>
 
</section>

<section class="reserva">

    <div class="reserva-cont">
        <h2>Su Camino al Bienestar Comienza Aquí: <br>Conozca Nuestra Clínica
</h2>
        <p>Le invitamos cordialmente a experimentar la atención compasiva y los tratamientos de vanguardia que ofrecemos en nuestro centro oncológico holístico en Tijuana, Baja California. Agende una visita personalizada para recorrer nuestras modernas instalaciones, conocer a nuestro dedicado equipo de especialistas y comprender a fondo nuestros procedimientos integrales.</p>
        <div class="reserva-btn">
            <a href="https://wa.link/nai5wo" target="_blank" style="text-decoration: none;font-weight: 600;">¡Agenda tu cita hoy!</a>
        </div>
     
    </div>
</section>