---
import '../../styles/services-styles/procedimientos.css'
import ImgdrEsp from '../../assets/dr-enriquez.png'
---
<section class="procedimientos">
  <h2>Su Camino Hacia el Bienestar:  <br>
    Nuestros Procedimientos de <span style="color: #16c6ce;">Tratamiento Holístico</span></h2>
  <p>Nuestros procedimientos integrales están meticulosamente diseñados para asegurar que cada aspecto de su bienestar sea atendido, abarcando desde diagnósticos precisos hasta terapias integradas y un apoyo continuo. Creemos en la transparencia y la colaboración, brindándole una clara comprensión de cada paso en su camino hacia la recuperación y una salud renovada.</p>

  <div class="component-container">
    <!-- Lado Izquierdo: Pasos -->
    <div class="steps">
      <div class="step active">
        <div class="step-header">
          <div class="step-number">01</div>
          <div class="step-title">Hipertermia Corporal Total</div>
          <span class="arrow">▼</span>
        </div>
        <div class="step-description">
          La Hipertermia Corporal Total (HCT) es un tipo de tratamiento para el cáncer y otras afecciones no malignas, como la Enfermedad de Lyme. En oncología, la HCT utiliza una fuente de calor externa para aumentar la temperatura de los tejidos y destruir las células cancerosas o detener su crecimiento.
          <br><br>
          El término 'hipertermia' se aplica al uso de diferentes técnicas en combinación con otros tratamientos contra el cáncer (particularmente la quimioterapia y la radioterapia).
          <br><br>
          En el caso del cáncer, es bien sabido que las células malignas tienen una tasa metabólica más alta que las células normales, lo que las hace muy sensibles a las altas temperaturas. Existen otras características importantes que explican por qué la hipertermia es eficaz:
          1) Los vasos sanguíneos dentro de los tumores malignos carecen de la capacidad de dilatarse para disipar el calor.
          2) Los vasos sanguíneos de los tumores son tortuosos, lo que ralentiza la circulación en comparación con los tejidos normales, prolongando así la exposición al calor intratumoral.
          3) La muerte de las células malignas inducirá cambios en el citoplasma de las células malignas adyacentes, lo que causará cambios metabólicos y las conducirá a su propia muerte.
        </div>
      </div>

      <div class="step">
        <div class="step-header">
          <div class="step-number">02</div>
          <div class="step-title">Terapia de Quelación</div>
          <span class="arrow">▼</span>
        </div>
        <div class="step-description">
          La quelación es el proceso mediante el cual se remueven o eliminan metales y minerales tóxicos del cuerpo. El proceso de quelación más común y eficaz utiliza EDTA (ácido etilendiaminotetraacético, también conocido como ácido edético), el cual es un aminoácido sintético. Se ha utilizado por más de 65 años para tratar eficazmente la intoxicación por plomo y para eliminar la placa de las arterias, venas y tejidos que contribuye a los accidentes cerebrovasculares y a los ataques cardíacos.
          <br><br>
          La placa también puede formarse en el tejido conectivo de las vías neuronales, lo que puede causar una gran variedad de trastornos, afecciones y enfermedades, como la esclerosis múltiple (EM), el Alzheimer, el autismo y las enfermedades autoinmunes. En IWHC, utilizamos la quelación con EDTA en combinación con la administración de enzimas proteolíticas, así como con la desintoxicación, la nutrición y la estimulación del sistema inmunológico.
        </div>
      </div>

      <div class="step">
        <div class="step-header">
          <div class="step-number">03</div>
          <div class="step-title">Programa Anticáncer</div>
          <span class="arrow">▼</span>
        </div>
        <div class="step-description">
          El Programa Anticáncer incluye, entre otros componentes, Laetrile, DMSO, vitaminas, minerales, aminoácidos, enzimas y antioxidantes.
          <br>
          Todo esto lo combinamos con:
          <br>Hipertermia Corporal Total (8 sesiones en 4 semanas), Terapia con Oxígeno Hiperbárico (8 sesiones en 4 semanas), Fotoféresis Extracorpórea, este procedimiento se realiza dos veces. Mediante él, obtenemos un tipo específico de glóbulos blancos para desarrollar vacunas autólogas de células dendríticas que el paciente se lleva a casa para autoinyectarse por vía subcutánea durante 6 meses.
          <br>Además, se administra terapia de células vivas para proporcionar estimulación inmunológica, soporte al tejido conectivo y fibroblastos para la reparación del cuerpo. También utilizamos el sistema Alpha-2010 Spa, que proporciona terapia de calor, masaje linfático y desintoxicación.
          <br><br>
          Para quienes lo soliciten, en nuestra clínica también ofrecemos la TPI (Terapia Potenciada con Insulina), que utiliza bajas dosis de quimioterapia. No obstante, mediante el uso de DMSO logramos exactamente el mismo propósito, pero sin la necesidad de inducir cambios de glucosa en el paciente.
          <br>
          Las células madre están disponibles y se utilizan cuando es necesario.
        </div>
      </div>

      <div class="step">
        <div class="step-header">
          <div class="step-number">04</div>
          <div class="step-title">Terapia con Células Madre</div>
          <span class="arrow">▼</span>
        </div>
        <div class="step-description">
          La terapia con células madre es un procedimiento médico de vanguardia que utiliza el potencial regenerativo del propio cuerpo para promover la sanación y restaurar la función. Las células madre son células únicas que tienen la extraordinaria capacidad de convertirse en muchos tipos de células diferentes, desde células musculares y óseas hasta células nerviosas y sanguíneas. Son, en esencia, el sistema de reparación del cuerpo.
          <br><br>
          Creemos en apoyar los procesos de sanación naturales del cuerpo. La terapia con células madre se alinea con esta filosofía al utilizar estas poderosas células para ayudar en la recuperación y mejorar el bienestar general. El procedimiento consiste en recolectar células madre, a menudo de la propia médula ósea o del tejido adiposo del paciente, para después reintroducirlas en el cuerpo. Esto ayuda a reducir la inflamación, reparar los tejidos dañados y apoyar al cuerpo en su lucha contra la enfermedad.
        </div>
      </div>

      <div class="step">
        <div class="step-header">
          <div class="step-number">05</div>
          <div class="step-title">Terapia para Trastornos Autoinmunes</div>
          <span class="arrow">▼</span>
        </div>
        <div class="step-description">
     En nuestra clínica, aplicamos la misma filosofía integral que usamos en el tratamiento del cáncer para abordar eficazmente los trastornos autoinmunes. Nuestro enfoque combina diversos tratamientos para no solo controlar los síntomas, sino también para buscar la rectificación de la condición de raíz.
<br><br>
Entendemos que navegar el sistema de seguros puede ser un desafío. Muchas pólizas cubren segundas opiniones o tratamientos alternativos. Para facilitar este proceso, nuestro enlace en EE. UU. está disponible para guiarte paso a paso en la presentación de tu reclamo y ayudarte a entender los beneficios de tu cobertura.
        </div>
      </div>

      <div class="step">
        <div class="step-header">
          <div class="step-number">06</div>
          <div class="step-title">Fotoféresis Extracorpórea</div>
          <span class="arrow">▼</span>
        </div>
        <div class="step-description">
          La aféresis es un procedimiento en el que se extrae sangre (de forma similar a una donación) y se procesa para separar sus diversos componentes. Se utiliza únicamente la parte necesaria para crear una Vacuna Autóloga de Células Dendríticas (VACD) mediante el proceso de Fotoféresis Extracorpórea (FEC).
          <br><br>
          La FEC desarrolla un tipo de vacuna anticancerígena que se convierte en "bombas inteligentes", desarrolladas a partir de la propia sangre del paciente. Estas células autólogas (del propio paciente) atacan a las células malignas mediante el cultivo de células asesinas (células NK o "killer cells") con la misma composición genética que las células cancerosas. Una vez que han madurado lo suficiente, se inyectan de nuevo en el paciente. Como un misil de "búsqueda y destrucción", estas supercélulas se disponen a destruir a sus gemelos genéticos enfermos.</div>
      </div>
    </div>

    <!-- Lado Derecho: Imagen Estática -->
    <div class="image-container">
          <img 
                        src={ImgdrEsp.src}
                        width="100%"
                        height="610"
                        alt="hospital"
                        />
    </div>
  </div>
</section>


<script type="module">
document.querySelectorAll(".step-header").forEach(header => {
  header.addEventListener("click", () => {
    const step = header.parentElement;
    step.classList.toggle("active");
  });
});
</script>