---
import '../../styles/services-styles/serviciospg.css'
import Icono1 from '../../assets/icono1.png'
import Icono2 from '../../assets/icono2.png'
import Icono3 from '../../assets/icono3.png'
---

<section class="serviciospg">
    <div class="txtgridpg">
       <h2>Nuestros Servicios <br><span style="color: #16c6ce;">Holísticos</span> e Integrales</h2>
        <p>Nuestros servicios integrales fusionan los conocimientos médicos de vanguardia con principios holísticos, potenciando así la capacidad de sanación natural de su cuerpo. Creemos en tratar a la persona como un todo en mente, cuerpo y espíritu para optimizar su salud y bienestar en cada paso de su camino.</p>
    </div>

    <div class="serviciosgridpg">
        <div class="serv1pg">
            <img 
            src={Icono1.src}
            width="50"
            height="50"
            alt="hospital"/>
            <h3>Tratamiento Holístico Personalizado</h3>
            <p>Elaboramos planes de tratamiento personalizados que integran terapias de vanguardia con modalidades naturales y complementarias. Nuestro enfoque principal es fortalecer su sistema inmunológico.</p>
        </div>
        <div class="serv1pg">
            <img 
            src={Icono2.src}
            width="50"
            height="50"
            alt="hospital"/>
             <h3>Rehabilitación Integrativa y Bienestar</h3>
            <p>Nuestros programas de rehabilitación especializados están diseñados para restaurar su vitalidad y mejorar la calidad de vida. Ofrecemos apoyo integral a través de asesoría nutricional y fisioterapia.</p>
        </div>
        <div class="serv1pg">
            <img 
            src={Icono3.src}
            width="50"
            height="50"
            alt="hospital"/>
            <h3>Terapias de Apoyo y Orientación Nutricional</h3>
            <p>Complemente su proceso de sanación con nuestra gama de terapias de apoyo, que incluyen suplementos naturales cuidadosamente seleccionados, protocolos de desintoxicación y planes nutricionales personalizados.</p>
        </div>
    </div>
</section>