---
import '../../styles/services-styles/heroserv.css'
import HospitalS from '../assets/clinica2.webp'
import HospitalS2 from '../assets/img-hospital.png'
import HospitalS3 from '../assets/img3.webp'
---


<section class="servhero">
    <div class="servhgrid">
        <div class="servhcarr">
             <div class="servhtxtmovil">
            <h1>Tratamientos Complementarios <span style="color: #16c6ce;">Holísticos </span> para Tu Bienestar Integral</h1>
            <p>Ofrecemos un modelo de atención integrativa que honra la conexión entre cuerpo, mente y espíritu. Nuestros servicios están diseñados para trabajar en conjunto con tu tratamiento médico convencional, brindando apoyo nutricional especializado, manejo del estrés, terapias de rehabilitación física y acompañamiento emocional durante todo tu proceso.
</p>
        </div>
            <div class="slider-container">
            <iframe width="560" height="350" src="https://www.youtube.com/embed/GjxPLiM5sL4?autoplay=1&amp;si=W5xeVnmm-2iRvdQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="servhtxt">
                  <h1>Tratamientos Complementarios <span style="color: #16c6ce;">Holísticos </span> para Tu Bienestar Integral</h1>
            <p>Ofrecemos un modelo de atención integrativa que honra la conexión entre cuerpo, mente y espíritu. Nuestros servicios están diseñados para trabajar en conjunto con tu tratamiento médico convencional, brindando apoyo nutricional especializado, manejo del estrés, terapias de rehabilitación física y acompañamiento emocional durante todo tu proceso.
</p>
        </div>
        
    </div>
</section>

