---
import '../../styles/services-styles/heroserv.css'
import HospitalS from '../assets/clinica2.webp'
import HospitalS2 from '../assets/img-hospital.png'
import HospitalS3 from '../assets/img3.webp'
---


<section class="servhero">
    <div class="servhgrid">
        <div class="servhcarr">
             <div class="servhtxtmovil">
            <h1>Nuestros Servicios <span style="color: #16c6ce;">Holísticos Integrales </span></h1>
            <p>Nuestro enfoque va más allá del tratamiento convencional, adoptando una filosofía holística que nutre su bienestar físico, mental y emocional. Explore nuestra diversa gama de servicios; cada uno está meticulosamente diseñado para brindar atención personalizada, potenciar su sanación y empoderarlo en su camino hacia una salud y recuperación óptimas.</p>
        </div>
            <div class="slider-container">
            <iframe width="560" height="350" src="https://www.youtube.com/embed/GjxPLiM5sL4?autoplay=1&amp;si=W5xeVnmm-2iRvdQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="servhtxt">
            <h1>Nuestros Servicios  <span style="color: #16c6ce;">Holísticos Integrales </span></h1>
            <p>Nuestro enfoque va más allá del tratamiento convencional, adoptando una filosofía holística que nutre su bienestar físico, mental y emocional. Explore nuestra diversa gama de servicios; cada uno está meticulosamente diseñado para brindar atención personalizada, potenciar su sanación y empoderarlo en su camino hacia una salud y recuperación óptimas.</p>
        </div>
        
    </div>
</section>

