---
import '../../styles/testimonials.css'
---

<section class="testim">
    <h2>Voces de <span style="color: #16c6ce;">Sanación </span>: Testimonios de Nuestros  <span style="color: #16c6ce;">Pacientes </span></h2>
    <p>Sus testimonios son el reflejo del cuidado humano, la esperanza renovada y los resultados transformadores que son el pilar de nuestro trabajo diario.</p>

    <div class="test-grid">
        <div class="test1">
            <p>Cuando comencé mi proceso de tratamiento holístico, me sentía abrumada. Pero el equipo de Holistic Cancer Treatment me brindó una atención tan personalizada y tanto apoyo emocional, que transformó por completo mi perspectiva.</p>
            <h4> - Eleanor V.</h4>
        </div>
        <div class="test1">
            <p>Estaba luchando con los efectos secundarios de mis tratamientos convencionales hasta que incorporé las terapias holísticas de aquí. Los remedios naturales y la orientación nutricional no solo aliviaron mis malestares, sino que me hicieron sentir más fuerte y más resiliente.</p>
            <h4> - Marcus W.</h4>
        </div>
        <div class="test1">
            <p>Venir a Tijuana para mi tratamiento fue un gran paso, pero valió totalmente la pena. Los doctores de aquí saben muchísimo sobre el cuidado holístico del cáncer, y se enfocan en cada aspecto de mi bienestar, no solo en la enfermedad.</p>
            <h4> - Sofia R.</h4>
        </div>
        <div class="test1">
            <p>Lo que más me impresionó fue la atención personalizada y el trato tan humano de todo el personal de la clínica. Siempre escucharon mis inquietudes y adaptaron todo a mis necesidades específicas.</p>
            <h4> - James C.</h4>
        </div>
    </div>
</section>