.blog-section{
     padding: 1rem;
}

.grid-cont{
      
    padding: 2rem;
 
}

.blogs{
       display:grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 1rem; 
}

.blogs li{
    width: 100%;
        display: flex;
}


.blog{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.154);
    padding-bottom: 1rem;
        display: flex;
    flex-direction: column;
    height: 100%;

}

.blog h3, h4, p{
    padding: 0 20px;
}

.blog img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

ul{
    list-style: none;
    margin: 0;
}

 .blog-section a{
        font-family: "Pontano Sans", sans-serif;
         font-size: 20px;
        font-weight: 500;
          color: #07a2bd;
          text-decoration: none;
    }

    .blog-section h4{
         font-family: "Roboto", sans-serif;
    font-size: 13px;
    text-align: justify;
    }

       .blog-section p{
         font-family: "Roboto", sans-serif;
    font-size: 13px;
    text-align: justify;
    }

@media screen and (max-width:801px){

    .blog-section{
     padding: 2rem 1rem;
}
.grid-cont{
      
padding: 0;

    margin-left: -2.5rem;
   
}

  .blogs{
        grid-template-columns: repeat(1, 1fr);
    }

.footer-logo img{
    max-width: 50%;
}
}
