.blog-section{
     padding: 1rem;
}

.grid-cont{
      
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 1rem; 
}

ul{
    list-style: none;
    margin: 0;
}

 .blog-section a{
        font-family: "Pontano Sans", sans-serif;
         font-size: 20px;
        font-weight: 500;
          color: #07a2bd;
          text-decoration: none;
    }

    .blog-section h4{
         font-family: "Roboto", sans-serif;
    font-size: 13px;
    text-align: justify;
    }

       .blog-section p{
         font-family: "Roboto", sans-serif;
    font-size: 13px;
    text-align: justify;
    }

@media screen and (max-width:801px){

    .blog-section{
     padding: 2rem 1rem;
}
.grid-cont{
      
padding: 0;
    grid-template-columns: repeat(1,minmax(0,1fr));
    margin-left: -2.5rem;
   
}

.footer-logo img{
    max-width: 50%;
}
}
