.contadorgrid{
    display: grid;
    grid-template-columns:repeat(3,minmax(0,1fr)) ;
    padding: 4rem;
    gap: 2rem;
}

.counter-container {
    text-align: center;

}

.counter-title {
    
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: "Pontano Sans", sans-serif;
    color: white;
        font-weight: 500;
}

.counter {
    font-size: 3rem;
    font-weight: bold;
    color: #2c3e50;
    transition: color 0.3s;
    font-family: "Roboto", sans-serif;
    color: white;
}

.counter.final {
    color: white;
}

@media screen and (max-width:800px){
    .contadorgrid{
        display: grid;
        grid-template-columns:repeat(3,minmax(0,1fr)) ;
        padding: 2rem;
        gap: 3.5rem;
        margin-top: 4rem;
    }

    .counter-title {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }

    .counter {
    font-size: 1.6rem;
}
}
