.footer{
    margin: auto 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #1cc6cf1b;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 32px;
    padding: 1rem 3rem 1rem 7rem;
}



.footergrid1 p{
    color: black!important;
}

li{
    color: black!important;
}

.footer h3{
    font-family: "Syne", sans-serif;
    text-transform: uppercase;
    color:  #07a2bd;

}

.footer p{
   font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.342);
    line-height: 30px;
    font-size: 17px;
}

.footer li{
    font-family: "Roboto", sans-serif;
   color: rgba(255, 255, 255, 0.713);
    text-align: justify;
    font-size: 16px;
    text-transform: capitalize;
   margin-right: -2rem;
    line-height: 34px;

}

.footergrid3 li{
    display: inline-block;
    margin-right: 10px; /* Espaciado entre elementos */
    
}

.footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footergrid2{
    margin-left: 8rem;
}

.footergrid3{
    margin-left: 5rem;
}

.footer .bi{
    color: #07a2bd;
    margin-right: 1rem;
}


@media screen and (max-width:800px){

    .footer{
        margin: auto 0;
        padding-top: 3rem;
        padding-bottom: 1rem;
        background-color: #1cc6cf1b;
    }

    .footer-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 32px;
        padding: 2rem;
    }

    .footergrid2{
        margin-left: 0;
        margin-right: 2rem;
    }
    
    .footergrid3{
        margin-left: 0;
    }
    
}