.posib{
    box-sizing: border-box;
    margin: 0;
    padding: 4rem 6rem 4rem 6rem;
    overflow: hidden;
    background-color: #1cc6cf1b;
    margin-bottom: 6rem;
}


/************ Grid **********/
.posib-grid{
    display: grid;
    grid-template-columns:repeat(2,minmax(0,1fr)) ;
    gap: 2rem;
    padding: 0 6rem;
}

/************ Texto **********/

.posib p{

    
    font-family: "Roboto", sans-serif;
     color: rgba(0, 0, 0, 0.53);
    line-height: 30px;
    font-size: 17px;
    text-align: justify;
    margin-right: 1rem;
    }
    
    .posib h2{
        font-family: "Pontano Sans", sans-serif;
        margin-right: 4.7rem;
         font-size: 44px;
    line-height: 60px;
        font-weight: 500;
    }

    
    

/************ Reserva **********/

.reserva{
    border-radius: 26px;
    padding: 3.5rem 4.5rem;
    background-color: #07a2bd;
    max-width: 70%;
    margin: 0 auto; /*Centrar */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.reserva-cont{
   display: grid;
    grid-template-columns:repeat(2,minmax(0,1fr)) ;
    gap: 4rem;
}

.reserva h2{
 
    font-family: "Pontano Sans", sans-serif;
    color:white;
   font-size: 31px;
       font-weight: 500;
}

.reserva p{
    text-align: justify;
    font-family: "Roboto", sans-serif;
      line-height: 30px;
    font-size: 17px;
    color:white;
}

.reserva a{
    font-family: "Roboto", sans-serif;
    background-color:  white;

  padding: .6rem;
  border-radius: 26px;
 color: #07a2bd;
}

.reserva-btn{
  margin-top: 2.5rem;
}

.img-dra{
    background-image: url('../assets/dra-dent.webp');
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}

@media screen and (max-width:800px){
    .posib{
         padding: 2rem 2rem 4rem 2rem;
    }

    /************ Grid **********/
.posib-grid{
    display: grid;
    grid-template-columns:repeat(1,minmax(0,1fr)) ;
    gap: 2rem;
    padding: 0;
}

/************ Texto **********/

.posib p{
   margin-right: 0;

    }
    
    .posib h2{
  
        margin-right: 0;
      line-height: 50px;
         font-size: 30px;
    }

    /************ Reserva **********/

.reserva{
  
    padding: 1rem;
    max-width: 90%;
  
}

/************ Grid **********/
.reserva-cont{

    grid-template-columns:repeat(1,minmax(0,1fr)) ;

}


.reserva h2{

   font-size: 26px;
     text-align: center;
}

.reserva-btn{
  display: flex;
  justify-content: center;
}

    
}
