.servicios{
    box-sizing: border-box;
    margin: 0;
    padding: 4rem 6rem 4rem 6rem;
    overflow: hidden;
}


/************ Grid **********/
.txtgrid{
    display: grid;
    grid-template-columns:repeat(2,minmax(0,1fr)) ;
    padding: 4rem;
    gap: 2rem;
}

.serviciosgrid{
    display: grid;
    grid-template-columns:repeat(3,minmax(0,1fr)) ;
    padding: 4rem;
    gap: 2rem;
}

/********** Texto **********/

.txtgrid p{
margin-right: 4rem;
font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.53);
    line-height: 30px;
    font-size: 17px;
}

.servicios h2{
    font-family: "Pontano Sans", sans-serif;
    font-size: 44px;
    line-height: 60px;
    margin-top: 1rem;
        font-weight: 500;
}



/********** Cajas **********/

.serv1{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 3rem;
    border-radius: 26px;
    margin-top: -4rem;
}


.servicios h3{
    font-family: "Pontano Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
        font-weight: 500;
}

.servicios a{
    font-family: "Roboto", sans-serif;
    background-color:  #16c6ce;
    display: flex;
  justify-content: center; 
  align-items: center; 
  padding: .6rem;
  border-radius: 26px;
  color: white;
}

.serv1 p{
    font-family: "Roboto", sans-serif;
    margin-bottom: 2rem;
     color: rgba(0, 0, 0, 0.53);
    line-height: 30px;
    font-size: 17px;
}

/********** Vista Hospital **********/

.hview-grid{
    display: grid;
    grid-template-columns:repeat(2,minmax(0,1fr)) ;
    gap: 2rem;
    padding: 0 6rem 5rem 6rem;
}

/********** Imagen **********/

.hv1 img{
border-radius: 26px;
}

/********** Texto **********/

.hview h2{
    font-family: "Pontano Sans", sans-serif;
     font-size: 44px;
    line-height: 60px;
    margin: 0;
        font-weight: 500;
}

.hview p{
    margin-right: 2.6rem;
    font-family: "Roboto", sans-serif;
    text-align: justify;
     color: rgba(0, 0, 0, 0.53);
    line-height: 30px;
    font-size: 17px;
    }

    .hv2 h3{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 18px;
            font-weight: 500;
    }

    .hv2 ul{
        
        list-style: none;
        padding-left: 0;
    margin-left: 0;
    
    }

    .hv2 .bi{
       margin-right: .5rem;
    }

    /*********** Boton **********/
/* From Uiverse.io by KINGFRESS */ 
/* From Uiverse.io by cssbuttons-io */ 
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    font-family: "Roboto", sans-serif;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #16c6ce;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: rgba(0, 0, 0, 0.688);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }
    @media screen and (max-width:800px){
        .servicios{
            padding: 4rem 2rem;
        }

        /************ Grid **********/
.txtgrid{
    display: grid;
    grid-template-columns:repeat(1,minmax(0,1fr)) ;
    padding: 0;
    gap:0;
    margin-bottom: 2rem;
}

.serviciosgrid{
    display: grid;
    grid-template-columns:repeat(1,minmax(0,1fr)) ;
    padding: 0;
    gap: 2rem;
}

/********** Texto **********/

.txtgrid p{
  text-align: center;
  margin: 0;
    }
    
    .servicios h2{
        text-align: center;
         font-size: 40px;
    }

    /********** Cajas **********/

.serv1{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 3rem;
    border-radius: 26px;
    margin-top: 0;
}

    /********** Vista Hospital **********/

.hview-grid{
    display: grid;
    grid-template-columns:repeat(1,minmax(0,1fr)) ;
    gap: 2rem;
    padding:2rem;
}

/********** Imagen **********/

.hv1 img{
   max-width: 100%;
   height: 350px;
    }

    /********** Texto **********/

.hview h2{
 text-align: center;
  font-size: 40px;
}

.hview p{
    text-align: center;
    margin-right: 0;
    }

     .hv2 h3{
       text-align: center;
    }

    .hv2 li{
        text-align: left;
    }
        
    }