/********** Global **********/


.contactanos{
    box-sizing: border-box;
    margin: 0;
    padding: 4rem 6rem 4rem 6rem;
    overflow: hidden;
    
}


.contactanos-grid{
    padding: 2rem;
    display:grid;
    grid-template-columns: 66% 34%;
        gap: 4rem;              
}

/********** izquierda Form **********/


.img-contactanos{
    width: 85%;
    height: 42rem;
    background-image: url('https://holistic-landingpage.netlify.app/_astro/clinica2.CpS300DU.webp');
    background-size: cover;
    background-position: center;
    border-radius: 26px;
}

.contacto-izq h1{
     font-family: "Pontano Sans", sans-serif;
    font-size: 44px;
    line-height: 60px;
    margin-top: 1rem;
        font-weight: 500;
}



/********** Derecha Form **********/

.hub-form{
    margin: 4rem;
    padding-top: 8rem;

    margin-left: -18rem;
}
#mc_embed_signup{
 border-radius: 18px;
 padding-top: 1rem;
  padding-bottom: 2rem;
}

.refferal_badge{
  display: none!important;
}
/********** Datos de contacto **********/

.grid-datos{
  
    display:grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
        gap: 2rem; 
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 10rem;
}

.container {
    position: relative; /* Para posicionar el texto en primer plano */
    display: inline-block; /* Para que el contenedor se ajuste al contenido */
    
  }
  
  .background-text {
    font-size: 160px; /* Ajusta el tamaño según tus necesidades */
    color: rgba(0, 0, 0, 0.076); /* Color semi-transparente */
    font-weight: 600;
    font-family: "Pontano Sans", sans-serif;
  }
  
  .foreground-text {
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translate(-50%, -50%); /* Centra el texto en primer plano */
    font-size: 22px; /* Ajusta el tamaño según tus necesidades */
    text-align: center;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.956);
    line-height: 30px;
    font-size: 17px;
  }

  a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.956);
    line-height: 30px;
    font-size: 17px;
  }

  a:hover {
    color: #16c6ce;
    transition: .4s;
  }
  
  /********* Movil **********/
@media screen and (min-width:300px) and (max-width:800px) {
 /********** Global **********/


.contactanos{
    box-sizing: border-box;
    margin: 0;
    padding: 2rem;
    overflow: hidden;
}

    .contactanos-grid{
       
        padding: 1rem;
        display:grid;
        grid-template-columns: repeat(1,minmax(0,1fr));          
    }

/********** izquierda Form **********/


/********** izquierda Form **********/


.img-contactanos{
    width: 100%;
    height: 100%;

}

.contacto-izq h1{
    font-size: 40px;
    text-align: center;
}


/********** Derecha Form **********/

.hub-form{
    margin: 0;
    padding-left:0;
    padding-top: 20rem;
    padding-bottom: 3rem;
    width: 100%;
    margin-left: 0;
}

/********** Datos de contacto **********/

.grid-datos{
  
    display:grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
        gap: 0; 
        margin-top: 22rem;
        margin-bottom: 1rem;
          margin-left: 2.7rem;
}

.container{
    width: 300px!important;
 
}


.background-text {
    font-size: 100px; /* Ajusta el tamaño según tus necesidades */
    margin-left: 5rem;
  }

  .foreground-text {
    position: absolute;
    margin-right:  -10rem;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el texto en primer plano */
    font-size: 17px; /* Ajusta el tamaño según tus necesidades */
    color: black;
    text-align: center;
    font-weight: 600;
  }
    
}