/********** Global **********/

.faq{
   box-sizing: border-box;
    margin: 0;
    padding: 2rem 6rem 4rem 6rem;
    overflow: hidden;

}

.faq-grid{
    margin-top: 2rem;
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 4rem; 
}

/********** Imagen **********/

.faq-izq img{
        width: 100%;
        height: 100%;
        margin-left: -1rem;
        border-radius: 26px;
}

/********** FAQ **********/

.accordion{

  margin-right: 3.5rem;
 
}

.accordion h1{
 font-family: "Pontano Sans", sans-serif;
    font-size: 44px;
    line-height: 60px;
    margin: 0;
        font-weight: 500;
}

.accordion-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.185);
    padding-bottom: 1rem;
  }
  
  .accordion-button {
     font-family: "Pontano Sans", sans-serif;
    width: 100%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .accordion-button:hover {
    color: #16c6ce;
  }
  
  .accordion-content {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.53);
    line-height: 30px;
    font-size: 17px;
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out; /* Transición suave */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    text-align: justify;
  }
  
  .accordion-item.active .accordion-content {
    height: auto; /* Altura automática cuando está activo */
  }
  .accordion-item.active .accordion-button {
color: #16c6ce;
  }
  
  /********* Movil **********/
  @media screen and (min-width:300px) and (max-width:800px) {
    /********** Global **********/
    .faq{
         box-sizing: border-box;
        margin: 0;
        overflow: hidden;
        padding: 5rem 2rem 2rem 2rem;
    }

    .faq-grid{
      margin-top: 1rem;
      padding: 0;
      grid-template-columns: repeat(1,minmax(0,1fr));
      gap: 1rem; 
    }

    /********** Imagen **********/

    .faq-img{
      width: 100%;
      height: 100%;
      margin-left:0;
    }
    
  /********** FAQ **********/
    .accordion h1{
         line-height: 50px;
         font-size: 30px;
         text-align: left;
margin-top: 2rem;
    }

    .accordion{
      margin-left: 1rem;
      margin-right: -1rem;
      margin-top: 1rem;
    }

    .accordion-item {
     margin-left: -1rem;
    }

    .accordion-button {
      font-size: 1.1rem;
    }

    .accordion-content {
      font-size: 1rem;
    }
  }