.procedimientos{
    box-sizing: border-box;
    margin: 0;
    padding: 1rem 6rem 4rem 6rem;
    overflow: hidden;
}
/********** Texto **********/

.procedimientos p{
margin-right: 12rem;
margin-left: 12rem;
font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.53);
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 3rem;
    text-align: center;
}

.procedimientos h2{
    font-family: "Pontano Sans", sans-serif;
    font-size: 44px;
    line-height: 60px;
    margin-top: 1rem;
        font-weight: 500;
        text-align: center;
}


/************ Grid 
.prodgrid{
    display: grid;
    grid-template-columns:repeat(2,minmax(0,1fr)) ;
    padding: 4rem;
    gap: 2rem;
}**********/

.component-container {
    display: flex;
    max-width: 100%;
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }

  .steps {
    flex: 1;
    padding: 40px;
    border-right: 2px solid #1cc6cf14;;
  }

  .step {
    margin-bottom: 40px;
    cursor: pointer;
  }

  .step-number {
    font-weight: bold;
    color: #888;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
  }

  .step-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #0d456b;
    font-family: "Pontano Sans", sans-serif;
  }

  .step-description {
   
     color: rgba(0, 0, 0, 0.53);
    line-height: 30px;
    font-size: 17px;
    display: none;
    max-width: 90%;
    font-family: "Roboto", sans-serif;
  }

  .step.active .step-description {
    display: block;
  }

  .image-container {
    flex: 1;
   background-color: #1cc6cf00;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-container img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: -22rem;
  }



  @media screen and (max-width: 800px) {

      .procedimientos{
        box-sizing: border-box;
        margin: 0;
        overflow: hidden;
        padding: 2rem 2rem 2rem 2rem;
    }

    /********** Texto **********/

.procedimientos p{
margin-right: 0;
margin-left: 0;

    margin-bottom: 3rem;
    text-align: center;
}

.procedimientos h2{
   
    font-size: 32px;

}
    
    .component-container {
      flex-direction: column;
    }

    .image-container {
      order: -1;
      padding: 20px;
    }

    .steps {
      border-right: none;
      border-top: 2px solid #e0f2ff;
      padding: 20px;
    }
  }