.serviciospg{
    box-sizing: border-box;
    margin: 0;
    padding: 4rem 6rem 4rem 6rem;
    overflow: hidden;
    margin-top: -6rem;
}

/************ Grid **********/
.txtgridpg{
    display: grid;
    grid-template-columns:repeat(2,minmax(0,1fr)) ;
    padding: 4rem;
    gap: 2rem;
}

.serviciosgridpg{
    display: grid;
    grid-template-columns:repeat(3,minmax(0,1fr)) ;
    padding: 4rem;
    gap: 2rem;
}

/********** Texto **********/

.serviciospg p{
margin-right: 4rem;
font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.53);
    line-height: 30px;
    font-size: 17px;
    text-align: justify;
}

.serviciospg h2{
    font-family: "Pontano Sans", sans-serif;
    font-size: 44px;
    line-height: 60px;
    margin-top: 1rem;
        font-weight: 500;
}


/********** Cajas **********/

.serv1pg{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 3rem;
    border-radius: 26px;
    margin-top: -4rem;
}


.serv1pg h3{
    font-family: "Pontano Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
        font-weight: 500;
}

.serv1pg a{
    font-family: "Roboto", sans-serif;
    background-color:  #16c6ce;
    display: flex;
  justify-content: center; 
  align-items: center; 
  padding: .6rem;
  border-radius: 26px;
  color: white;
}

.serv1pg p{
    font-family: "Roboto", sans-serif;
    margin-bottom: 2rem;
     color: rgba(0, 0, 0, 0.53);
    line-height: 30px;
    font-size: 17px;
    margin-right: 0;
}

@media screen and (max-width:800px){
    .serviciospg{
        padding: 4rem 2rem;
    }

    /************ Grid **********/
.txtgridpg{
display: grid;
grid-template-columns:repeat(1,minmax(0,1fr)) ;
padding: 0;
gap:0;
margin-bottom: 2rem;
}

.serviciosgridpg{
display: grid;
grid-template-columns:repeat(1,minmax(0,1fr)) ;
padding: 0;
gap: 2rem;
}

/********** Texto **********/

.txtgridpg p{
text-align: center;
margin: 0;
}

.serviciospg h2{
    text-align: center;
    font-size: 32px;
}

/********** Cajas **********/

.serv1pg{
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
padding: 3rem;
border-radius: 26px;
margin-top: 0;
}
    
}