---
import NavBarEsp from'../components/espanol/NavbarEsp.astro'
import FooterEsp from '../components/espanol/FooterEsp.astro'
import ContactactanosEsp from '../components/espanol/ContactactanosEsp.astro'
---

<!doctype html>
<html lang="en">
	<head>
				<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DPHBXRB980"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DPHBXRB980');
</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/holisticsvf.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
			</style>
		<title>Contacto - Holistic Cancer Treatment</title>
		<meta name="description" content="Descubra un enfoque integral y humano para el cuidado del cáncer que combina tratamientos convencionales con terapias alternativas.">
		  <meta property="og:image" content="https://holisticancercoach.com/_astro/clinica2.CpS300DU.webp"> 
  			<meta property="og:url" content="https://holisticancercoach.com/_astro/clinica2.CpS300DU.webp"> 
  		<meta property="og:type" content="website">
	</head>
	<body>
		<NavBarEsp />
        <ContactactanosEsp />
		<FooterEsp />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
