---
import Navbar from '../components/Navbar.astro';
import ServicesHero from '../components/ServicesHero.astro';
import ServiciosPG from'../components/ServiciosPg.astro';
import Procedimientos from '../components/Procedimientos.astro';
import Footer from '../components/Footer.astro';
import Faqs from '../components/Faqs.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
			</style>
		<title>Services - Holistic Cancer Treatment</title>
	</head>
	<body>
		<Navbar />
		<ServicesHero />
		<ServiciosPG />
		<Procedimientos />
		<Faqs />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
