---
import '../styles/about/abouthero.css'
import Team1 from '../assets/doctor.webp'
---

<section class="ahero">
    <h1>Meet the Pillars of Your <span style="color: #16c6ce;">Healing </span> Journey</h1>

    <p>We are more than just a clinic; we are a dedicated family committed to your holistic well-being. Our multidisciplinary professionals bring together a wealth of experience in medical treatment, psychological support, and seamless administrative care, all united by a singular goal: to guide you with integrity and empathy through your cancer journey.</p>
</section>

<section class="ateam">
    <div class="atgrid">
        <div class="presentation-card" style="background-image: url('https://raw.githubusercontent.com/AntonioHerrera1994/holistic-landing/refs/heads/main/src/assets/doctor.webp')">
            <div class="content">
              <h2 class="name">Medical Director & Holistic Cancer Specialist<br><span style="font-size:17px;">Dr. Jose A. Henriquez</span></h2>
              <p class="description">Dr. Jose A. Henriquez is internationally recognized for his many years of work in metabolic therapies treating cancer and other diseases. A proven leader in the field of Whole Body Hyperthermia.



      
      </p>
            </div>
          </div>
          <div class="presentation-card" style="background-image: url('https://github.com/AntonioHerrera1994/holistic-landing/blob/main/src/assets/equipo2.png?raw=true')">
            <div class="content">
              <h2 class="name">Nutritionist<br><span style="font-size:17px;">RDN. Melissa Rivera</span></h2>
              <p class="description">

      She is certified in Nutrigenomics by the Instituto Nutrigenómica of Spain and is certified
in Nutrition Applied to Immunology, endorsed by the Colegio Mexicano de Nutriólogos
(Mexican Colleague of Nutritionists).
      </p>
            </div>
          </div>
          <div class="presentation-card" style="background-image: url('https://github.com/AntonioHerrera1994/holistic-landing/blob/main/src/assets/gloria.png?raw=true')">
            <div class="content">
              <h2 class="name">Treatment Advisor Clinic<br><span style="font-size:17px;">Gloría Alejo</span></h2>
              <p class="description">She has many medical resources that can help you. She has been the medical field for many years. She had intergrity. 
      
      </p>
            </div>
          </div>

               <div class="presentation-card" style="background-image: url('https://github.com/AntonioHerrera1994/holistic-landing/blob/main/src/assets/equipo1.png?raw=true')">
            <div class="content">
              <h2 class="name">Dentist<br><span style="font-size:17px;">Dr. Gisselle Heredia</span></h2>
              <p class="description">This holistic dental practice merges modern dentistry with natural, biocompatible methods. The focus is on the mouth-body connection, using minimally invasive, non-toxic treatments to promote a healthy smile and overall well-being. 
      
      </p>
            </div>
          </div>
    </div>
</section>