---
import '../styles/about/abouthero.css'
import Team1 from '../assets/doctor.webp'
---

<section class="ahero">
    <h1>We are more than just clinic</h1>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
</section>

<section class="ateam">
    <div class="atgrid">
        <div class="presentation-card" style="background-image: url('../assets/doctor.webp')">
            <div class="content">
              <h2 class="name">Tere Cota<br><span style="font-size:17px;">Founder & Creative Director</span></h2>
              <p class="description">Lidera la visión creativa, estratégica y personalidad de la agencia, asegura que la marca mantenga una narrativa coherente en todos los proyectos y guía el desarrollo de marcas personales con autenticidad y propósito. <br> <br>Impulsa tu marca con una visión estratégica, estética y emocional.
      
      </p>
            </div>
          </div>
          <div class="presentation-card" style="background-image: url('https://define-studio.mx/wp-content/uploads/2025/06/tere.webp')">
            <div class="content">
              <h2 class="name">Tere Cota<br><span style="font-size:17px;">Founder & Creative Director</span></h2>
              <p class="description">Lidera la visión creativa, estratégica y personalidad de la agencia, asegura que la marca mantenga una narrativa coherente en todos los proyectos y guía el desarrollo de marcas personales con autenticidad y propósito. <br> <br>Impulsa tu marca con una visión estratégica, estética y emocional.
      
      </p>
            </div>
          </div>
          <div class="presentation-card" style="background-image: url('https://define-studio.mx/wp-content/uploads/2025/06/tere.webp')">
            <div class="content">
              <h2 class="name">Tere Cota<br><span style="font-size:17px;">Founder & Creative Director</span></h2>
              <p class="description">Lidera la visión creativa, estratégica y personalidad de la agencia, asegura que la marca mantenga una narrativa coherente en todos los proyectos y guía el desarrollo de marcas personales con autenticidad y propósito. <br> <br>Impulsa tu marca con una visión estratégica, estética y emocional.
      
      </p>
            </div>
          </div>
    </div>
</section>