---
import '../styles/about/abouthero.css'
import Team1 from '../assets/doctor.webp'
---

<section class="ahero">
    <h1>Meet the Pillars of Your <span style="color: #16c6ce;">Healing </span> Journey</h1>

    <p>We are more than just a clinic; we are a dedicated family committed to your holistic well-being. Our multidisciplinary professionals bring together a wealth of experience in medical treatment, psychological support, and seamless administrative care, all united by a singular goal: to guide you with integrity and empathy through your cancer journey.</p>
</section>

<section class="ateam">
    <div class="atgrid">
        <div class="presentation-card" style="background-image: url('https://raw.githubusercontent.com/AntonioHerrera1994/holistic-landing/refs/heads/main/src/assets/doctor.webp')">
            <div class="content">
              <h2 class="name">Medical Director & Holistic Cancer Specialist<br><span style="font-size:17px;">Dr. Jose A. Henriquez</span></h2>
              <p class="description">Dr. Jose A. Henriquez is internationally recognized for his many years of work in metabolic therapies treating cancer and other diseases. A proven leader in the field of Whole Body Hyperthermia.
                <br><br>Dr. Henriquez has performed over 1100 procedures since 2000 with a 75% success rate on patients with stage IV cancers; for the most part having been sent home to die.


      
      </p>
            </div>
          </div>
          <div class="presentation-card" style="background-image: url('https://raw.githubusercontent.com/AntonioHerrera1994/holistic-landing/refs/heads/main/src/assets/doctor.webp')">
            <div class="content">
              <h2 class="name">Clinical Psychologist<br><span style="font-size:17px;">Melissa</span></h2>
              <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
      
      </p>
            </div>
          </div>
          <div class="presentation-card" style="background-image: url('https://raw.githubusercontent.com/AntonioHerrera1994/holistic-landing/refs/heads/main/src/assets/doctor.webp')">
            <div class="content">
              <h2 class="name">Clinic Administrator<br><span style="font-size:17px;">Gloría Alejo</span></h2>
              <p class="description">Gloria is intelligent, kind and caring. She follows through. She has many medical resources that can help you. She has been the medical field for many years. She had intergrity. One example is she has referred me to a fine biological dentist that I needed that studied under Hal Huggins a famous dentist which I trust because I read all Huggins books, especially on root canals and understand the research and that safe dentistry is healthy and no toxic. She will answer all your questions. You will be very lucky to work with her.
      
      </p>
            </div>
          </div>
    </div>
</section>