---
import '../styles/about/abouthero.css'
import Team1 from '../assets/doctor.webp'
---

<section class="ahero">
    <h1>Meet the Pillars of Your <span style="color: #16c6ce;">Healing </span> Journey</h1>

    <p>We are more than just a clinic; we are a dedicated family committed to your holistic well-being. Our multidisciplinary professionals bring together a wealth of experience in medical treatment, psychological support, and seamless administrative care, all united by a singular goal: to guide you with integrity and empathy through your cancer journey.</p>
</section>

<section class="ateam">
    <div class="atgrid">
        <div class="presentation-card" style="background-image: url('https://raw.githubusercontent.com/AntonioHerrera1994/holistic-landing/refs/heads/main/src/assets/doctor.webp')">
            <div class="content">
              <h2 class="name">Medical Director & Holistic Cancer Specialist<br><span style="font-size:17px;">Doctor name</span></h2>
              <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
      
      </p>
            </div>
          </div>
          <div class="presentation-card" style="background-image: url('https://raw.githubusercontent.com/AntonioHerrera1994/holistic-landing/refs/heads/main/src/assets/doctor.webp')">
            <div class="content">
              <h2 class="name">Clinical Psychologist<br><span style="font-size:17px;">Melissa</span></h2>
              <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
      
      </p>
            </div>
          </div>
          <div class="presentation-card" style="background-image: url('https://raw.githubusercontent.com/AntonioHerrera1994/holistic-landing/refs/heads/main/src/assets/doctor.webp')">
            <div class="content">
              <h2 class="name">Clinic Administrator<br><span style="font-size:17px;">Gloría</span></h2>
              <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
      
      </p>
            </div>
          </div>
    </div>
</section>