---
const Firstpost = await Astro.glob('../pages/blog/nutrition-and-supplements-post-chemotherapy-fueling-your-recovery.md');
const Secondpost = await Astro.glob('../pages/blog/regenerative-therapy-can-your-body-heal-from-within.md');

---

<h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>