---
import '../styles/services-styles/contactanos.css'
---

<section class="contactanos">
    <div class="contactanos-cont">
        <div class="contactanos-grid">

            <div class="contacto-izq">
               
                <h1>Leave Us Your <span style="color: #16c6ce;">Details</span> and <br>We Will <span style="color: #16c6ce;">Contact You</span></h1>
                <div class="img-contactanos">

                </div>
              
            </div>

         <div>
                <div class="hub-form">
<form name="contact" method="POST" data-netlify="true" id="contactForm">
  <input type="hidden" name="form-name" value="contact" />
    <!-- Mensaje de éxito (oculto inicialmente) -->
  <div class="success-message" id="successMessage" style="display: none;">
    <h3>Thank you for contacting us!</h3>
    <p>We have received your message and will respond shortly.</p>
  </div>
  <div id="formFields">
  <p>
    <label>Name <input type="text" name="name" required /></label>
  </p>
  
  <p>
    <label>Email <input type="email" name="email" required /></label>
  </p>
  
  <p>
    <label>Phone <input type="tel" name="phone" /></label>
  </p>
  
  <p>
    <label>Message <textarea name="message" required></textarea></label>
  </p>
    <p>
    <button type="submit">Send</button>
  </p>
  </div>

</form>



                    </div>
            </div>
        </div>

        <div class="datossss">
        <div class="grid-datos ">

            <div class="container">
                <span class="background-text">01</span>
                <span class="foreground-text"><a href="tel:+526647549475">+52-664-754-9475</a></span>
              </div>

              <div class="container">
                <span class="background-text">02</span>
                <span class="foreground-text">Rosarito <br>Baja California,<br> México
                </span>
              </div>

              <div class="container">
                <span class="background-text">03</span>
                <span class="foreground-text"><a href="tel:holisticancertreatment@gmail.com">holisticancertreatment@gmail.com</a></span>
              </div>
      

        </div>
</div>
    </div>
</section>

<script>
import '../scripts/formulario'
</script>