---
import '../styles/services-styles/contactanos.css'
---

<section class="contactanos">
    <div class="contactanos-cont">
        <div class="contactanos-grid">

            <div class="contacto-izq">
               
                <h1>Leave Us Your <span style="color: #16c6ce;">Details</span> and <br>We Will <span style="color: #16c6ce;">Contact You</span></h1>
                <div class="img-contactanos">

                </div>
              
            </div>

           <!-- <div>
                <div class="hub-form">
                    <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                        region: "eu1",
                        portalId: "26659858",
                        formId: "46bd43c3-e303-4261-ba26-021cbe9a18c5"
                      });
                    </script>
                    </div>
            </div>-->

        </div>

        <div class="grid-datos">

            <div class="container">
                <span class="background-text">01</span>
                <span class="foreground-text"><a href="tel:+526647549475">+52-664-754-9475</a></span>
              </div>

              <div class="container">
                <span class="background-text">02</span>
                <span class="foreground-text">algún lugar de <br>Baja California, 67575646-3333,<br> México
                </span>
              </div>

              <div class="container">
                <span class="background-text">03</span>
                <span class="foreground-text"><a href="tel:contacto@planktonwallet.com">contacto@tecnologo.com</a></span>
              </div>
      

        </div>

    </div>
</section>