---
import '../styles/contador.css'
---

<section class="contadorgrid">
    <div class="counter-container">
        <h3 class="counter-title">Patients Supported:</h3>
        <div class="counter" data-target="100">0</div>
    </div>

    <div class="counter-container">
        <h3 class="counter-title">Lives Transformed:</h3>
        <div class="counter" data-target="200">0</div>
    </div>

    <div class="counter-container">
        <h3 class="counter-title">Positive Outcomess:</h3>
        <div class="counter" data-target="300">0</div>
    </div>
</section>


<script>
    import "../scripts/contador.js"
</script>