---
import '../styles/about/eligenos.css'
---

<section class="eligenos">
    <div class="eltxt">
            <h2>por que es importante</h2>
    </div>

    <div class="elgrid">

        <div class="elcaja1">
            <h3> Titulo</h3>
            <p>Hola mundo este es el texto bien largo</p>
        </div>
        <div class="elcaja2">
            <h3> Titulo</h3>
            <p>Hola mundo este es el texto bien largo</p>
        </div>
        <div class="elcaja2">
            <h3> Titulo </h3>
            <p>Hola mundo este es el texto bien largo</p>
        </div>
    </div>
</section>