---
import '../styles/about/eligenos.css'
---

<section class="eligenos">
    <div class="eltxt">
            <h2>The Essential Value of Integrated <span style="color: #16c6ce;">Holistic Care </span></h2>
    </div>

    <div class="elgrid">

        <div class="elcaja1">
            <h3> Treating the <br>Whole Person</h3>
            <p>Unlike conventional approaches that often focus solely on the disease, holistic treatment addresses you as a complete individual.</p>
        </div>
        <div class="elcaja1">
            <h3> Optimizing Conventional Outcomes & Reducing Side Effects</h3>
            <p>Holistic therapies are designed to work in harmony with your primary medical treatments, not against them.</p>
        </div>
        <div class="elcaja1">
            <h3> Empowering Long-Term Health <br>& Resilience </h3>
            <p>Integrated holistic care empowers you with knowledge and tools for sustainable well-being far beyond your active treatment.</p>
        </div>
    </div>
</section>