---
import '../styles/services-styles/faqs.css'
import ImgDFaqs from '../assets/img3.webp'
---

<section class="faq">
<div class="faq-cont">
    <div class="faq-grid">

      <div class="faq-izq">
           <img 
                        src={ImgDFaqs.src}
                        width="600"
                        height="450"
                        alt="hospital"
                        />
      </div>

        <div class="accordion">
          <h1>
            Frequently <br><span style="color: #16c6ce;">Asked </span> Questions

          </h1>
            <div class="accordion-item active">
              <button class="accordion-button"> Is holistic cancer treatment an alternative to conventional therapies?</button>
              <div class="accordion-content">
                No, our holistic treatments are designed to complement and enhance conventional cancer therapies, not replace them. We focus on integrating approaches to support your overall well-being and strengthen your body during treatment.
              </div>
            </div>
            <div class="accordion-item">
              <button class="accordion-button">What should I know about traveling to your clinic in Tijuana?</button>
              <div class="accordion-content">
                Our clinic is conveniently located in Tijuana, Baja California, Mexico. We understand traveling for treatment can be daunting, and our team can provide guidance on travel arrangements, accommodation, and local information to ensure a smooth and comfortable visit.
              </div>
            </div>
            <div class="accordion-item">
              <button class="accordion-button">Does your clinic accept health insurance for treatments?</button>
              <div class="accordion-content">
                
                While many holistic treatments are not typically covered by standard health insurance plans, we will provide you with all necessary documentation for potential reimbursement from your provider. We also offer various payment options and transparently discuss all costs upfront.
              </div>
            </div>
             <div class="accordion-item">
              <button class="accordion-button">Does your clinic accept health insurance for treatments?</button>
              <div class="accordion-content">
                
                While many holistic treatments are not typically covered by standard health insurance plans, we will provide you with all necessary documentation for potential reimbursement from your provider. We also offer various payment options and transparently discuss all costs upfront.
              </div>
            </div>
             <div class="accordion-item">
              <button class="accordion-button">What can I expect during my first consultation?</button>
              <div class="accordion-content">
                
                 Your initial consultation involves a comprehensive review of your medical history, current condition, and health goals. It's an opportunity to discuss potential treatment options, ask all your questions, and determine the most personalized path forward with our medical team.
              </div>
            </div>
             <div class="accordion-item">
              <button class="accordion-button">How long do holistic treatment programs typically last?</button>
              <div class="accordion-content">
                
                 The duration of treatment varies greatly depending on your individual diagnosis, the complexity of your case, and your response to therapies. We will provide a clear, personalized timeline during your consultation, outlining the recommended program length.
              </div>
            </div>
          </div>

    </div>

</div>
</section>

<script type="module" >
const accordionButtons = document.querySelectorAll('.accordion-button');
const accordionContents = document.querySelectorAll('.accordion-content');

// Activar el primer elemento al cargar la página
accordionButtons[0].parentNode.classList.add('active');
accordionContents[0].style.maxHeight = accordionContents[0].scrollHeight + 'px';

accordionButtons.forEach((button, index) => {
  button.addEventListener('click', () => {
    const accordionItem = button.parentNode;
    const accordionContent = accordionItem.querySelector('.accordion-content');

    if (accordionItem.classList.contains('active')) {
      accordionItem.classList.remove('active');
      accordionContent.style.maxHeight = '0'; // Cierra con desplazamiento hacia arriba
    } else {
      accordionButtons.forEach(otherButton => {
        otherButton.parentNode.classList.remove('active');
        otherButton.parentNode.querySelector('.accordion-content').style.maxHeight = '0';
      });

      accordionItem.classList.add('active');

      // Calcula la altura del contenido y aplica el desplazamiento
      const contentHeight = accordionContent.scrollHeight;
      accordionContent.style.maxHeight = contentHeight + 'px';
    }
  });
});

</script>
