---
import '../styles/hero.css'
import HeroImage from '../assets/dr-hero.png'
import Contador from './Contador.astro'
---

<section class="hero">
    <div class="hero-grid">
        <div class="hg1">
            <h1>Integrated Holistic <br>Cancer Care</h1>
            <p>Discover a comprehensive and compassionate approach to cancer care that integrates traditional and alternative therapies. Our dedicated team provides personalized treatment plans, focusing on your overall well-being with round-the-clock support. </p>
           <!-- From Uiverse.io by KINGFRESS --> 
<!-- From Uiverse.io by cssbuttons-io --> 
 <a href="/about-us">
<button class="learn-more">
    <span class="circle" aria-hidden="true">
    <span class="icon arrow"></span>
    </span>
    <span class="button-text" style="color:white">Learn More</span>
  </button>
  </a>
        </div>
        <!-- 
        <div class="hg2">
            <img 
            src={HeroImage.src}
            width="600"
            height="600"
            alt="favlash-logo"/>
        </div>-->
    </div>
</section>


<section class="bajo">
<div class="numbers">
    
        <h2>Empowering Lives: Our Patient Success Stories</h2>
      
            <div class="n1">
                <Contador />
            </div>
      

        </div>
        </section>