---
import '../styles/about/historia.css'
import HospitalH from '../assets/clinica2.webp'
---

<section class="historia">

    <div class="hist-grid">
        <div class="his1">
            <img 
            src={HospitalH.src}
            width="620"
            height="600"
            alt="hospital"
            />
         
        </div>
        <div class="hist2">
            <h2>Our Journey of Holistic Healing and Innovation</h2>
            <p>Founded in 2008 by a visionary team of medical professionals, Holistic Cancer Treatments Coach was established with a singular mission: to provide a compassionate and comprehensive approach to cancer care that transcended conventional methods. Recognizing the critical need for integrated treatments that address the whole person—mind, body, and spirit—our founders pioneered a unique model of holistic oncology right here in Tijuana, Baja California.</p>
           
            <p>Today, we stand proud as a leading center for holistic cancer treatment, continually innovating and expanding our reach while upholding the founding principles of empathy, expertise, and personalized healing that have defined our journey since the very start. We are dedicated to building on our legacy, guiding more patients toward renewed health and vitality.</p>
              <!-- From Uiverse.io by KINGFRESS --> 
<!-- From Uiverse.io by cssbuttons-io --> 
<button class="learn-more">
    <span class="circle" aria-hidden="true">
    <span class="icon arrow"></span>
    </span>
    <span class="button-text">schedule an appointment</span>
  </button>
        </div>
    </div>
</section>