---
import '../styles/about/historia.css'
import HospitalH from '../assets/clinica2.webp'
---

<section class="historia">

    <div class="hist-grid">
        <div class="his1">
            <img 
            src={HospitalH.src}
            width="600"
            height="450"
            alt="hospital"
            />
         
        </div>
        <div class="hist2">
            <h2>Nuestra Historia</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <a>boton</a>
        </div>
    </div>
</section>