---
import '../styles/posibilidades.css'
import Circulo from '../components/Circulo.astro'
---

<section class="posib">
    <div class="posib-grid">
       <div class="ps1">
        <h2>beneficios</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <a>boton</a>
    </div> 
    <div class="ps2">
        <Circulo />
    </div>
    </div>
 
</section>

<section class="reserva">

    <div class="reserva-cont">
        <h2>Titulo para reservar</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <div class="reserva-btn">
            <a>boton</a>
        </div>
     
    </div>
</section>