---
import '../styles/posibilidades.css'
import Circulo from '../components/Circulo.astro'
---

<section class="posib">
    <div class="posib-grid">
       <div class="ps1">
        <h2>Elevate Your Healing: The Benefits of  <span style="color: #16c6ce;">Holistic Complementary </span> Care</h2>
        <p>At Holistic Cancer Treatment, we believe in a comprehensive approach to cancer care that extends beyond conventional treatments. Our holistic alternative therapies are designed to work in synergy with your primary medical plan, offering a powerful accompaniment that addresses your entire well-being – mind, body, and spirit.</p>
                              <!-- From Uiverse.io by KINGFRESS --> 
<!-- From Uiverse.io by cssbuttons-io --> 
<button class="learn-more">
    <span class="circle" aria-hidden="true">
    <span class="icon arrow"></span>
    </span>
    <span class="button-text">Learn More</span>
  </button>
    </div> 
    <div class="ps2">
        <Circulo />
    </div>
    </div>
 
</section>

<section class="reserva">

    <div class="reserva-cont">
        <h2>Your Path to Wellness Begins Here: Discover Our Clinic
</h2>
        <p>We warmly invite you to experience the compassionate care and innovative treatments offered at our holistic cancer center in Tijuana, Baja California. Schedule a personalized visit to tour our state-of-the-art facility, meet our dedicated team of specialists, and gain a comprehensive understanding of our integrated procedures.</p>
        <div class="reserva-btn">
            <a>Schedule Your Visit Today</a>
        </div>
     
    </div>
</section>