---
import '../styles/posibilidades.css'
import Circulo from '../components/Circulo.astro'
import ImgDent from '../assets/dra-dent.webp'
---

<section class="posib">
    <div class="posib-grid">
       <div class="ps1">
        <h2>Elevate Your Healing: The Benefits of  <span style="color: #16c6ce;">Holistic Complementary </span> Care</h2>
        <p>At Holistic Cancer Treatment, we believe in a comprehensive approach to cancer care that extends beyond conventional treatments. Our holistic alternative therapies are designed to work in synergy with your primary medical plan, offering a powerful accompaniment that addresses your entire well-being – mind, body, and spirit.</p>
                              <!-- From Uiverse.io by KINGFRESS --> 
<!-- From Uiverse.io by cssbuttons-io --> 
<button class="learn-more">
    <span class="circle" aria-hidden="true">
    <span class="icon arrow"></span>
    </span>
    <a href="/contact-us">
    <span class="button-text">Contact Us</span>
    </a>
  </button>
    </div> 
    <div class="ps2">
        <Circulo />
    </div>
    </div>
 
</section>

<section class="reserva">

    <div class="reserva-cont">
        <div>
    <h2>Premium Dental Care at Unbeatable Prices: Explore Our Services
</h2>
        <p>Discover why thousands of patients choose Biodental for their dental needs. Located in Tijuana, Baja California, our modern clinic offers the same quality treatments you'd find in the US—at a fraction of the cost. Schedule a visit to meet our skilled dental professionals, tour our advanced facility, and learn how you can save up to 70% on your dental care.</p>
        <div class="reserva-btn">
            <a href="https://holisticancercoach.com/dental/" style="text-decoration: none;font-weight: 600;">View Dental Pricing</a>
        </div>
        </div>
        <div class="img-dra">
                 
        </div>

    </div>
</section>