---
import '../styles/services-styles/serviciospg.css'
import Icono1 from '../assets/icono1.png'
import Icono2 from '../assets/icono2.png'
import Icono3 from '../assets/icono3.png'
---

<section class="serviciospg">
    <div class="txtgridpg">
        <h2>Our Integrated <span style="color: #16c6ce;">Holistic Treatments </span></h2>
        <p>Our integrated services blend advanced medical knowledge with holistic principles, empowering your body's natural healing abilities. We believe in treating the whole person – mind, body, and spirit – to optimize your health and well-being through every step of your journey.</p>
    </div>

    <div class="serviciosgridpg">
        <div class="serv1pg">
            <img 
            src={Icono1.src}
            width="50"
            height="50"
            alt="hospital"/>
             <h3>Personalized Holistic Treatment</h3>
            <p>We develop individualized treatment plans that integrate cutting-edge therapies with natural and complementary modalities. Our focus is on strengthening your immune system</p>

        </div>
        <div class="serv1pg">
            <img 
            src={Icono2.src}
            width="50"
            height="50"
            alt="hospital"/>
            <h3>Integrative Rehabilitation & Wellness</h3>
            <p>Our specialized rehabilitation programs are designed to restore your vitality and improve quality of life. We offer comprehensive support through nutritional counseling. and physical therapy</p>
       
        </div>
        <div class="serv1pg">
            <img 
            src={Icono3.src}
            width="50"
            height="50"
            alt="hospital"/>
            <h3>Supportive Therapies & Nutritional Guidance</h3>
            <p>Complement your healing process with our range of supportive therapies, including carefully selected natural supplements, detoxification protocols, and personalized nutritional plans.</p>
            
        </div>
    </div>
</section>