---
import '../styles/services-styles/heroserv.css'
import HospitalS from '../assets/clinica2.webp'
import HospitalS2 from '../assets/img-hospital.png'
import HospitalS3 from '../assets/img3.webp'
---


<section class="servhero">
    <div class="servhgrid">
        <div class="servhcarr">
             <div class="servhtxtmovil">
            <h1>Our Comprehensive <span style="color: #16c6ce;">Holistic Healing </span> Services</h1>
            <p>Our approach extends beyond conventional treatment, embracing a holistic philosophy that nurtures your physical, mental, and emotional well-being. Explore our diverse offerings, each meticulously crafted to provide personalized care, enhance your healing, and empower you on your path to optimal health and recovery.</p>
        </div>
            <div class="slider-container">
            <iframe width="560" height="350" src="https://www.youtube.com/embed/GjxPLiM5sL4?autoplay=1&amp;si=W5xeVnmm-2iRvdQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="servhtxt">
            <h1>Our Comprehensive <span style="color: #16c6ce;">Holistic Healing </span> Services</h1>
            <p>Our approach extends beyond conventional treatment, embracing a holistic philosophy that nurtures your physical, mental, and emotional well-being. Explore our diverse offerings, each meticulously crafted to provide personalized care, enhance your healing, and empower you on your path to optimal health and recovery.</p>
        </div>
        
    </div>
</section>

