---
import '../styles/servicios.css'
import Hospital from '../assets/clinica2.webp'
import Icono1 from '../assets/icono1.png'
import Icono2 from '../assets/icono2.png'
import Icono3 from '../assets/icono3.png'
---

<section class="servicios">
    <div class="txtgrid">
        <h2>Our Integrated <br>Holistic Services</h2>
        <p>Our integrated services blend advanced medical knowledge with holistic principles, empowering your body's natural healing abilities. We believe in treating the whole person – mind, body, and spirit – to optimize your health and well-being through every step of your journey.</p>
    </div>

    <div class="serviciosgrid">
        <div class="serv1">
            <img 
            src={Icono1.src}
            width="55"
            height="55"
            alt="hospital"/>
            <h3>Personalized Holistic Treatment</h3>
            <p>We develop individualized treatment plans that integrate cutting-edge therapies with natural and complementary modalities. Our focus is on strengthening your immune system</p>
            <a>Learn More</a>
        </div>
        <div class="serv1">
            <img 
            src={Icono2.src}
            width="55"
            height="55"
            alt="hospital"/>
            <h3>Integrative Rehabilitation & Wellness</h3>
            <p>Our specialized rehabilitation programs are designed to restore your vitality and improve quality of life. We offer comprehensive support through nutritional counseling. and physical therapy</p>
            <a>Explore Programs</a>
        </div>
        <div class="serv1">
            <img 
            src={Icono3.src}
            width="55"
            height="55"
            alt="hospital"/>
            <h3>Supportive Therapies & Nutritional Guidance</h3>
            <p>Complement your healing process with our range of supportive therapies, including carefully selected natural supplements, detoxification protocols, and personalized nutritional plans.</p>
            <a>Discover Therapies</a>
        </div>
    </div>
</section>

<section class="hview">
    <div class="hview-grid">
        <div class="hv1">
            <img 
            src={Hospital.src}
            width="620"
            height="580"
            alt="hospital"
            />
         
        </div>
        <div class="hv2">
            <h2>Experience Premier <br>Holistic Care in Tijuana</h2>
            <p>Located in the thriving city of Tijuana, Baja California, our dedicated holistic cancer treatment center offers a unique and transformative healing environment. We believe that optimal recovery thrives in a setting of focused, personalized attention.</p>
            <h3>Benefits of In-Person Treatment at Our Tijuana Center</h3>
            <ul>
                <li><p><i class="bi bi-check-circle"></i> Direct & Immersive Healing Environment</p></li>
                <li><p><i class="bi bi-check-circle"></i>Personalized, Hands-On Treatment</p></li>
                <li><p><i class="bi bi-check-circle"></i>Access to Advanced Therapies & Technology</p></li>
                <li><p><i class="bi bi-check-circle"></i>xpert Medical Guidance from Specialized Doctors</p></li>
                <li><p><i class="bi bi-check-circle"></i>omprehensive Support System</p></li>
            </ul>
            
                       <!-- From Uiverse.io by KINGFRESS --> 
<!-- From Uiverse.io by cssbuttons-io --> 
<button class="learn-more">
    <span class="circle" aria-hidden="true">
    <span class="icon arrow"></span>
    </span>
    <span class="button-text">Learn More</span>
  </button>
        </div>
    </div>
</section>