---
import '../styles/servicios.css'
import Hospital from '../assets/clinica2.webp'
import Icono1 from '../assets/icono1.png'
import Icono2 from '../assets/icono2.png'
import Icono3 from '../assets/icono3.png'
---

<section class="servicios">
    <div class="txtgrid">
        <h2>Servicios que ofrecemos</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>

    <div class="serviciosgrid">
        <div class="serv1">
            <img 
            src={Icono1.src}
            width="50"
            height="50"
            alt="hospital"/>
            <h3>Service 1</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a>boton</a>
        </div>
        <div class="serv1">
            <img 
            src={Icono2.src}
            width="50"
            height="50"
            alt="hospital"/>
            <h3>Service 1</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a>boton</a>
        </div>
        <div class="serv1">
            <img 
            src={Icono3.src}
            width="50"
            height="50"
            alt="hospital"/>
            <h3>Service 1</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a>boton</a>
        </div>
    </div>
</section>

<section class="hview">
    <div class="hview-grid">
        <div class="hv1">
            <img 
            src={Hospital.src}
            width="600"
            height="450"
            alt="hospital"
            />
         
        </div>
        <div class="hv2">
            <h2>conoce el hospital</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <a>boton</a>
        </div>
    </div>
</section>