---
import '../styles/services-styles/heroserv.css'
import HospitalS from '../assets/clinica2.webp'
import HospitalS2 from '../assets/img-hospital.png'
import HospitalS3 from '../assets/img3.webp'
---


<section class="servhero">
    <div class="servhgrid">
        <div class="servhcarr">
             <div class="servhtxtmovil">
            <h1>Holistic Complementary <span style="color: #16c6ce;">Treatments </span> for Your Complete Well-Being</h1>
            <p>We offer an integrative care model that honors the connection between body, mind, and spirit. Our services are designed to work alongside your conventional medical treatment, providing specialized nutritional support, stress management, physical rehabilitation therapies, and emotional guidance throughout your journey.
</p>
        </div>
            <div class="slider-container">
            <iframe width="560" height="350" src="https://www.youtube.com/embed/GjxPLiM5sL4?autoplay=1&amp;si=W5xeVnmm-2iRvdQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="servhtxt">
              <h1>Holistic Complementary <span style="color: #16c6ce;">Treatments </span> for Your Complete Well-Being</h1>
            <p>We offer an integrative care model that honors the connection between body, mind, and spirit. Our services are designed to work alongside your conventional medical treatment, providing specialized nutritional support, stress management, physical rehabilitation therapies, and emotional guidance throughout your journey.
</p>
        </div>
        
    </div>
</section>

