---
import '../styles/testimonials.css'
---

<section class="testim">
    <h2>conoce los testimonios</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

    <div class="test-grid">
        <div class="test1">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <h4>nombre del testimonio</h4>
        </div>
        <div class="test1">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <h4>nombre del testimonio</h4>
        </div>
        <div class="test1">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <h4>nombre del testimonio</h4>
        </div>
        <div class="test1">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <h4>nombre del testimonio</h4>
        </div>
    </div>
</section>