.ahero{
    box-sizing: border-box;
    margin: 0;
    padding: 4rem 6rem 3rem 6rem;
    overflow: hidden;
    background-image: url('/src/assets/puntos.png');
    background-size:  cover;
    background-position: center;
}

.ateam{
  padding-bottom: 4rem;
   background-image: url('/src/assets/puntos.png');
    background-size:  cover;
    background-position: center;
}

/********** Grid **********/

.atgrid{
    display: grid;
    grid-template-columns:repeat(4,minmax(0,1fr)) ;
    padding: 1rem 4rem;
    gap: 3rem;
}

/********** Texto **********/
.ahero h1{
  font-size: 44px;
    line-height: 60px;
    font-family: "Pontano Sans", sans-serif;
    text-transform: capitalize;
        font-weight: 500;
}

.ahero p{
   margin-right: 5rem;
    font-family: "Roboto", sans-serif;
    text-align: justify;
     color: rgba(0, 0, 0, 0.53);
    line-height: 30px;
    font-size: 17px;
}

/********** Cajas **********/


.presentation-card {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 25px;
    border-radius: 16px;
    aspect-ratio: 3/4;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease;
    background-blend-mode: overlay;
    
  }


  .presentation-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
  }
  
  .content {
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
  }

  .name {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 700;
    text-shadow: 0 2px 4px rgba(0,0,0,0.4);
    transition: all 0.4s ease;
    font-family: "Pontano Sans", sans-serif;
  }

  .description {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    text-shadow: 0 1px 3px rgba(0,0,0,0.4);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.65, 0, 0.35, 1);
    transform: translateY(20px);
    font-family: "Roboto", sans-serif;
  }
  .presentation-card:hover .description {
    max-height: 300px;
    opacity: 0.95;
    margin-top: 15px;
    transform: translateY(0);
  }

  .presentation-card:hover .name {
    margin-bottom: 15px;
  }

  /* Efecto overlay al hover */
  .presentation-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .presentation-card:hover::before {
    opacity: 1;
  }

  @media screen and (max-width:800px){
     .ahero{
        box-sizing: border-box;
        margin: 0;
        overflow: hidden;
        padding: 2rem 2rem 0 2rem;
    }

    .ateam{
  padding-bottom: 2rem;
    }
    /********** Texto **********/
.ahero h1{
  font-size: 39px;
text-align: center;
}

.ahero p{
   margin-right: 0;
    
}


/********** Grid **********/

.atgrid{
    display: grid;
    grid-template-columns:repeat(1,minmax(0,1fr)) ;
    padding: 2rem 2rem;
    gap: 1.6rem;

}
  }
